@{
    Layout = "_Layout";
}

<div class="row">
    <div class="column title">
        <h5></h5>
    </div>
    <div class="column infoBar">
        Logged in as
        <span class="user usermenuup" id="user"><a href="#">admin</a></span>
    </div>
</div>